.o-back-button {
  margin-top: $spacing-medium;
  transition: 0.3s;
  position: fixed;
  left: 23%;
  top: 5%;
  margin-top: $spacing-large;
  cursor: pointer;
  a {
    text-decoration: none;
    &:hover {
      color: $color-light-blue;
    }
    color: $color-black;
    font-size: $font-normal;
  }
  &:hover {
    transition: 0.3s;
    color: $color-light-blue;
  }
}
@media only screen and (max-width: 600px) {
  .o-back-button {
    position: unset;
    top: unset;
    left: unset;
  }
}
