.o-back-button {
  margin-top: $spacing-medium;
  transition: 0.3s;
  a {
    text-decoration: none;
    &:hover {
      color: $color-light-blue;
    }
    color: $color-black;
    font-size: $font-normal;
  }
  &:hover {
    transition: 0.3s;
  }
}
