.o-card {
  background-color: $color-white;
  width: fit-content;
  padding: $spacing-medium;
  box-shadow: $shadow-regular;
  margin: $spacing-medium;
  a {
    color: $color-light-blue;
    font-weight: bold;
  }
}
