.o-intro {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
  &__text {
    margin-top: $spacing-large;
    text-align: center;
    width: 25%;
  }
  a {
    border: 4px solid $color-light-blue;
    color: $color-light-blue;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: $spacing-medium auto;
    padding: $spacing-medium $spacing-large;
    position: relative;
    transition: 0.5s;
    &:hover {
      color: $color-dark-blue;
      border: 4px solid $color-dark-blue;
    }
  }
}
@media only screen and (max-width: 600px) {
  .o-intro {
    padding-top: 10em;
    &__text {
      width: 75%;
    }
    p {
      text-align: center;
    }
  }
}
