.o-me {
  position: fixed;
  right: 0;
  margin: $spacing-large;
  width: 160px;
  height: 160px;
  background-image: url("../../img/lines.png");
  background-size: cover;
  z-index: 5;
  background-position: center;
  transition: 0.5s;
  &:hover {
    background-image: url("../../img/full.jpg");
    background-size: cover;
    transition: 0.5s;
    box-shadow: $shadow-regular;
    background-position: center;
  }
}

@media only screen and (max-width: 600px) {
  .o-me {
    height: 60px;
    width: 60px;
  }
}
