.o-pagenav {
  width: 100vw;
  background-color: $color-light-blue;
  padding: $spacing-medium;
  display: flex;
  justify-content: space-around;
  color: $color-white;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 1;

  &__fill {
    width: 7%;
  }
  a {
    color: $color-white;
  }
  button {
    font-family: "Montserrat", sans-serif;
    color: $color-white;
    letter-spacing: 0.2rem;
    margin: 0 $spacing-medium;
    text-transform: uppercase;
    &:hover {
      font-weight: bold;
    }
  }
  &__nav {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      font-weight: bold;
    }
  }
}
.hasNav {
  padding-top: $spacing-huge;
}
@media only screen and (max-width: 600px) {
  .o-pagenav {
    display: none;
  }
}
