.o-table__container {
  width: 25%;
}
.o-table {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-grey;
  text-align: left;
  width: 80%;

  &__header {
    display: flex;
    background-color: $color-light-blue;
    padding: $extra-small-spacing;
    color: $color-white;
    font-weight: bold;
  }

  &__row {
    display: flex;

    border: 1px solid $color-grey;
    padding: $extra-small-spacing;
    &:nth-child(even) {
      background-color: $color-grey-light;
    }
    &__learning_goal {
      padding: $line-spacing 0;
      &__bewijs {
        padding: $line-spacing 0;
      }
    }
    a {
      color: unset;
      text-decoration: unset;
      &:hover {
        color: $color-light-blue;
        transition: 0.2s;
      }
    }
  }
  &__left {
    width: 40%;
    word-break: break-word;
  }
  &__right {
    width: 60%;
  }
}
