@import "./dna/dna.scss";

/* Species */

@import "./species/s-tables.scss";
@import "./species/s-iframe.scss";
@import "./species/s-document.scss";
@import "./species/s-pdf.scss";
@import "./species/s-page.scss";

/* Organs */
@import "./organs/o-table.scss";
@import "./organs/o-pagenav.scss";
@import "./organs/o-card.scss";
@import "./organs/o-back-button.scss";
@import "./organs/o-timeline.scss";
@import "./organs/o-intro.scss";
@import "./organs/o-me.scss";
@import "./organs/o-img-box.scss";
@import "./organs/o-nav.scss";

/* Cells */
@import "./cells/c-double-ul.scss";
@import "./cells/c-basic-ol.scss";

/* Animations */
@import "./animations/leftTick.scss";
